<div class="container">
  <div class="box">


    <h1>
      Dashboard des candidatures
    </h1>

      <%= @company.name %>, voici votre historique de candidatures :

      <% @company.job_requests.each do |job_request| %>
        <div class="message">
      <%= cl_image_tag @company.logo, height: 60, width: 60, crop: :fill %>

          <div class="message-name">
            <h3><%= job_request.user.first_name %> <%= job_request.user.last_name %></h3>
            <h3 class="remove-margin"><%= job_request.job.title %></h3>
            <p><%= job_request.created_at.strftime("%d/%m/%Y") %></p>
          </div>

          <div class="message-body">
            <p><strong>Message : </strong></p>
            <p>
              <%= job_request.message %>
            </p>
          </div>
          <div class="message-status">

            <%= render 'job_requests/form', job: job_request.job, job_request: job_request %>

          </div>
        </div>




      <% end %>

  </div>
</div>
