<div class="index-page">
  <div class="layout-main">
    <div class="layout-results">
      <div class="row">
        <div class="col-xs-12 col-md-8">
          <div class="criteria text-left">
            <h3 id="nb-results"><%= "#{@jobs.count} résultats pour ta recherche. " %>
              <% if @jobs.count > 50 %>Trop cool, l'embarras du choix !<% end %>
              <% if @jobs.count < 5 %> Pas de chance, il va falloir élargir ta recherche !<% end %>
            </h3>
            <ul class="list-inline hidden-xs hidden-sm" id="home-search-criteria">
              <% if @search[:start_date] %><li>Date de début: <%= @search[:start_date].strftime("%d/%m/%Y") %> </li><% end %>
              <% if @search[:end_date] %><li>Date de fin: <%= @search[:end_date].strftime("%d/%m/%Y") %> </li><% end %>
              <% if @search[:location] %><li>Localisation: <%= @search[:location] %> </li><% end %>
            </ul>
          </div>
        </div>
        <div class="hidden-xs hidden-sm col-md-4 criteria text-center">
          <h3 class="btn btn-primary" id="filter-btn">Filtrer les offres</h3>
        </div>
      </div>
      <div class="row">
        <div class="layout-cards" id="results">
          <% @jobs.each do |job| %>
            <%= render 'jobcard', job: job %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="layout-map">
      <div id="filter" class="collapse filter-form">
        <%= simple_form_for :query,  url: filtered_jobs_path, remote: true, :method => :post do |f| %>
            <%= f.input :start_date,
              required: false,
              as: :string,
              label: 'Dispo du',
              input_html: {type: :date, value: @search[:start_date]} %>
            <%= f.input :end_date,
              required: false,
              label: "au ",
              as: :string,
              input_html: {type: :date, value: @search[:end_date]} %>
            <%= f.input :location,
              required: false,
              label: "Ville",
              input_html: {value: @search[:location]} %>
            <%= f.input :min_salary,
              required: false,
              label: "Salaire minimum mensuel",
              input_html: {value: @search[:min_salary]} %>
            <%= f.input :categories,
              collection: @categories,
              required: false,
              label: "Catégorie" %>
            <%= f.input :job_ids, as: :hidden,
              input_html: {value: @j_ids} %>
            <%= f.submit "Filtrer", class: "btn btn-primary" %>
        <% end %>
      </div>
      <div id="map"></div>
    </div>
  </div>
</div>

<% content_for(:js) do %>
  <%= javascript_tag do  %>
    animateFilterBtn();
    rotateCards();
  <% end %>

  <script>
    function initMap() {
      // Create a map object and specify the DOM element for display.
      var map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 52.5206, lng: 13.4098},
        scrollwheel: false,
        zoom: 8
      });
    }
  </script>
    <!-- Gmaps JavaScript -->
  <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzER7O10ZOUp7FloJzMe2r8X1GIQhgt7Q&callback=initMap">
  </script>
<% end %>
