<div class="content">
	<div class="job-container">
		<div class="row">
			
			<div class="job-highlight">
				
				<div class="job-logo">
					<%= image_tag @job.company.logo, height: 150, width: 150, crop: :fill %>
				</div>
				
				<div class="job-title">
					<h2> <%= @job.title %> </h2>
					<h3><%= @job.company.name %></h3>
					<p><%= @job.company.industry %></p>
				</div>
				
				<div class="job-infos">
					<ul>
						<div class=	"col-xs-12">
							<div class="job-infos-dates">
								<p> <i class="fa fa-calendar" aria-hidden="true"></i> Dates </p>
								<li><%= @job.start_date%> - <%= @job.end_date %></li>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="job-infos-salaire">
								<p> <i class="fa fa-eur" aria-hidden="true"></i> Salaire </p>
								<li><%= @job.monthly_salary %> euros/mois </li>
							</div>
						</div>
					</ul>
				</div>
			</div>
			<div class="job-details">
				<div class="job-profile">
					<h3><i class="fa fa-tasks" aria-hidden="true"></i>  Description de l'offre</h3>
					<div class="job-profile-content"><%= @job.description %></div>
				</div>
				<div class="job-profile">
					<h3><i class="fa fa-user" aria-hidden="true"></i>  Profil recherche</h3>
					<div class="job-profile-content"><%= @job.profile %></div>
				</div>
				<div class="job-profile">
					<h3><i class="fa fa-map-marker" aria-hidden="true"></i>  Localisation </h3>

					<div id="map-job">
						<% url="https://maps.googleapis.com/maps/api/staticmap?center=&zoom=13&scale=1&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C#{@job.company.location.gsub(/\s/,'+')}" %>
						<img src="<%= url %>" alt="">
					</div class="job-profile-content">
				<!-- <script>
					document.querySelectorAll("job-profile").forEach((element) =>{
						element.addEventListener("click", (event)=>{
							event.target.expand)
							)
						}
					})
				</script> -->

				</div>
			</div>
		</div>
	</div>
	<div class="form-container">
			<div id="form">
				<h2>Postuler à ce job</h2>
			<% if user_signed_in? %>
				<div class="application-form">
					<%= simple_form_for [@job, @job_request] do |f| %>
					<%= f.hidden_field :current_status, value: 'pending' %>
					<%= f.input :message, placeholder: 'Présente-toi rapidement et explique au recruteur pourquoi tu es le candidat ideal',:input_html => {:rows => 20} %>
					<%= f.submit "Postuler", id:"btn-postuler", class: "btn btn-danger" %>
					<% end %>
				</div>
			<% else %>
				<div class="connexion"> Tu dois être connecté pour postuler à cette offre </div>
				<div> <%= link_to 'Connexion', user_session_path, class:"btn btn-danger" %> </div>
			<% end %>
		</div>
	</div>
</div>