<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hey Laura</title>

    <%= csrf_meta_tags %>
    <link rel=“icon” type=“image/png” href= <% image_tag "http://res.cloudinary.com/dkalpv2xf/image/upload/v1502797793/Projet/favicon-96x96.png"%> >
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div class="wrapper">
      <div class="container">
        <%= yield %>
      </div>
    </div>
    <%= render 'shared/footer' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
    <%= yield(:js) %>
  </body>
</html>
